
<%= form_with(model: @spot,   url: spot_path, ) do |form|%>
<tr>
   
  
   
        <td><%= form.text_field :period%></td>
        
        
        <td><%= form.select :weekday, weekday_options_for_select( index_as_value: false, day_format: :day_names), class: 'form-control' %> </td>
        
        
            
        <td><%= form.number_field :time%></td>
        
        
            
        <td><%= form.number_field :spot_index_number%></td>
        <td>
            <% frame_id = dom_id(@spot)%>
            <%= turbo_frame_tag frame_id do %>
                <%= form.select :user_id, @users.map { |user| [user.full_name, user.id]} %>
            <% end %>
        </td>
        
        <td><%= form.number_field :lesson_amount%></td>
        
        
        <td><%= form.button 'Save'%></td>
    
     
</tr>
<% end%>
<br />
<br />

<%= link_to 'Cancel', spots_path, class: 'btn btn-secondary' %>

