



 
  </table>
  </tbody>

<% @spots.each do |spot|%>
  <% frame_id = dom_id(spot )%>
  <%= form_with model: spot, data: {turbo_frame: frame_id} do %>
    <%= turbo_frame_tag frame_id do %>
    <tr>
      <td><%= spot.period%></td>
     <td> <%=spot.weekday%></td>
      </td><span><%= link_to 'Edit', edit_spot_path(spot)%></span></td>
     <tr>
    <%end %>
  <%end %>
<% end %>
</tbody>
</table>









<%= render 'new_form', model: @spot%>

<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Period</th>
      <th scope="col">Weekday</th>
      <th scope="col">Time</th>
      <th scope="col">Index</th>
      <th scope="col">Student</th>
      <th scope='col'>Lesson count</th>
      
    </tr>
  </thead>
  <tbody>

<% @spots.each do |spot| %>
  <tr>
  <td> <%= render 'inline_edit', model: spot, attribute: :period do %>
    <%=spot.period%> 
  <% end %></td>
  
  <td><%= render 'inline_edit', model: spot, attribute: :weekday do %>
    <%= spot.weekday %>
  <%end%></td>

  <td><%= render 'inline_edit', model: spot, attribute: :time do %>
    <%= spot.time %>
  <%end%></td>
  
  <td><%= render 'inline_edit', model: spot, attribute: :period do %>
    <%= spot.spot_index_number %>
  <%end%></td>
  
  <td><%= render 'inline_edit', model: spot, attribute: :user_id do %>
    <%= spot.user.full_name %>
  <%end%></td>
  
  <td> <%= render 'inline_edit', model: spot, attribute: :lesson_amount do %>
  <%= spot.lesson_amount %>
  <% end %></td>
  
  <td><%= link_to 'Show', spot_path(spot)%> <%= link_to 'Edit', edit_spot_path(spot)%> <%= button_to 'Delete', spot,  :method => :delete %></td>
  </tr>

<%end %>


  </tbody>
</table>


      
     
 
