



<%= render 'inline_edit', model: @spot, attribute: :period do %>
  <div>Period: <%=@spot.period%></div>
<% end %>

<div>Weekday: <%=@spot.weekday%></div>
<div>Time: <%=@spot.time%></div>
<div>Student: <%=@spot.user.full_name%></div>
<div>Lesson count: <%=@spot.lesson_amount%></div>



<table class="table">
  <thead>
    <tr>
    
      <th scope="col">Date</th>
      <th scope="col">Timeslot</th>
      
    </tr>
  </thead>
  <tbody>
  
    <% @lessons.each do | lesson | %>
    <tr>
      <th scope="row"><%= lesson.date %></th>
      <td><%= lesson.timeslot %></td>
      <td><%= link_to 'Show', lesson_path(lesson)%> <%= link_to 'Edit', edit_lesson_path(lesson)%></td>

    </tr>
    <% end %>
  </tbody>
</table>
