<h1>Pages#dashboard</h1>

<%= current_user.email %>
<%= current_user.first_name%>
<br />



<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Spot</th>
      <th scope="col">Period</th>
      <th scope="col">Weekday</th>
      <th scope="col">Time</th>
      
    </tr>
  </thead>
  <tbody>
    <% @spots.each do | spot | %>
    <tr>
      <th scope="row"><%= spot.spot_index_number %></th>
      <td><%= spot.period %></td>
      <td><%= spot.weekday %></td>
      <td><%= spot.time %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Timeslot</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do | lesson | %>
    <tr>
      <th scope="row"><%= lesson.date %></th>
      <td><%= lesson.timeslot %></td>
    </tr>
    <% end %>
  </tbody>
</table>


